#home {
@include grid-center;
grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  & .home__img {
    top: 0;

    & img {
      object-fit: contain;
      width: 100%;
      max-height: 60vh;
    }
  }

  .home__message {
    margin: 2rem;
// width: 60%;
    max-width: 500px;

   
    

    & h1 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    

      & .home__name {
        font-size: 3rem;
      }
    }

    & h2 {
      font-size: 1.5rem;
      font-style: italic;
     text-align: right;
    }
  }
}
