

header {
    
    position: fixed;
    
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: $color-2;
}

main{
    max-width: 1250px;
    margin: 0 auto;
    

& section {
  padding-top: 10vh;
  min-height: 100vh;
  

  &#home {
    background-color: $color-2;
  }

  &#projects{
      background-color: rgb(255, 255, 255);
      padding-left: 1rem;
      padding-right: 1rem;
  }

  &#contacts{
    background-color: $color-1;
   
    padding-left: 1rem;
      padding-right: 1rem;
  }
}
}